* {
  box-sizing: border-box;
}

:root {
  --background-color: light-dark(#fff, #000);
  --foreground-color: light-dark(#000, #fff);
}

html,
body {
  min-height: 100dvh;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family:
    "DIN Next W01 Regular",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  margin: 0;
  padding: 0 1rem;
}

.bar {
  background-color: var(--background-color);
  bottom: 0;
  height: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

#column {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 2rem);
}

#header {
  aspect-ratio: 16/9;
  position: relative;
}

#logo {
  bottom: 0;
  color: var(--background-color);
  height: 4rem;
  margin: 2rem;
  position: sticky;
  top: 3rem;
  z-index: 1;
}

#random-image {
  aspect-ratio: 16/9;
  inset: 0;
  position: absolute;
  z-index: 0;
}

#random-image img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

main {
  background-color: var(--foreground-color);
  color: var(--background-color);
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 2rem;
}

#content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}

@media screen and (min-width: 888px) {
  #content {
    flex-direction: row;
    gap: 4rem;
  }
}

@media screen and (min-width: 888px) {
  .cell {
    flex: 1 1 320px;
  }
}

.cell p {
  font-size: 14px;
  margin: 0;
  line-height: 1.444;
}

.cell p + p {
  margin-top: 1rem;
}

.cell.large p {
  font-size: 19px;
}

.cell a {
  color: inherit;
  font-weight: bold;
  text-underline-offset: 2px;
}

#footer {
  border-top: 1px solid currentColor;
  display: flex;
  font-size: 11px;
  justify-content: space-between;
  padding: 1rem 0;
}
